<!DOCTYPE html>
{% load static %}
<html>
	<head>
    	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>Index</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/atual.css' %}" />
		<script type="text/javascript" src="{% static 'js/javascript.js' %}"  charset="utf-8" async defer></script>
	</head>
	<body>
    	<header>
        	<img src="{% static 'images/logo.png' %}" align='left' />
        	<h1>Faculdade Impacta de Tecnologia<br/>
            	A TECNOLOGIA MUDA O SEU FUTURO<br/></h1>
    	</header></br>
    	<div class="divNav">
	    	<nav>
            	<a href="{% url 'index' %}" class="text_link">Página Principal</a>&nbsp;&nbsp;
            	<a href="{% url 'login' %}" class="text_link">Login</a>&nbsp;&nbsp;
            	<a href="{% url 'cursos' %}" class="text_link">Cursos</a>&nbsp;&nbsp;
		    	<a href="{% url 'novo_curso' %}" class="text_link">Novo Curso</a>&nbsp;&nbsp;
		    	<a href="{% url 'novaDisciplina' %}" class="text_link">Nova disciplina</a>&nbsp;&nbsp;
		    	<a href="{% url 'disciplinascurso' %}" class="text_link">Disciplina de Curso</a>&nbsp;&nbsp;
		    	<a href="{% url 'detalhedisciplina' %}" class="text_link">Detalhe de Disciplina</a>&nbsp;&nbsp;
            	<a href="{% url 'detalhecurso' %}" class="text_link">Detalhe de Curso</a>&nbsp;&nbsp;
            	<a href="{% url 'NovoAluno' %}" class="text_link">Novo Aluno</a>&nbsp;&nbsp;
            	<a href="{% url 'matricula' %}" class="text_link">Matrícula</a>&nbsp;&nbsp;
        	</nav>
        </div><br/><br/>
        
        {% block base %}{% endblock%}

        <br/><br/><br/>
        <footer>
            <div class ="wrapper">
               11 3254-8300 - Impacta 2018 - Todos os direitos reservados.	
            </div>	
        </footer>   
	</body>
</html>