
{% extends "base.html" %}

{% block base %}
{% load static %}
		<center><h1 class="border">Lista de Cursos</h1></center></br></br>
		<center><h2 class="text_branco">Administração</h2></center></br></br>
		<center><img src="{% static 'images/administracao.png' %}"/></center></br></br></br>
		<center><h2 class="text_branco">Análise e desenvolvimento de sistemas</h2></center></br></br>
		<center><img src="{% static 'images/ads.png' %}" align="center"/></br></br></br></center>
		<center><h2 class="text_branco">Banco de Dados</h2></center></br></br>
		<center><img src="{% static 'images/bd.png' %}" align="center"/></br></br></br></center>
		<center><h2 class="text_branco">Jogos Digitais</h2></center></br></br>
		<center><img src="{% static 'images/jogos.png' %}" align="center"/></br></br></br></center>
		<center><h2 class="text_branco">Gestão de Tecnologia da Informação</h2></center></br></br>
		<center><img src="{% static 'images/ti.png' %}" align="center"/></br></br></br></center></br></br></br>
		<center><h2 class="text_branco">Processos Gerenciais</h2></center></br></br>
		<center><img src="{% static 'images/pg.png' %}" align="center"/></br></br></br></center></br></br></br>
		<center><h2 class="text_branco">Produção Multimídia</h2></center></br></br>
		<center><img src="{% static 'images/multimidia.png' %}" align="center"/></br></br></br></center></br></br></br>
		<center><h2 class="text_branco">Redes de Computadores</h2></center></br></br>
		<center><img src="{% static 'images/redes.png' %}" align="center"/></br></br></br></center></br></br></br>
		<center><h2 class="text_branco">Sistemas de Informação</h2></center></br></br>
		<center><img src="{% static 'images/si.png' %}" align="center"/></br></br></br></center></br></br></br>
		<footer>

{% endblock %}
