{% extends "base.html" %}  

{% block base %}
            <center><h1 class="h1_branco">ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h1></center>
            <br/>
            <h1 class="h1_branco">1° Semestre</h1>
            <ul type="none">
                <li>Comunicação e Expressão: 80 horas</li>
                <li>Fundamentos de Banco de Dados: 80 horas</li>
                <li>Introdução à Internet das Coisas - IoT: 80 horas</li>
                <li>Linguagem de Programação I: 80 horas</li>
                <li>Lógica de Programação: 80 horas</li>
                <li>Matemática Aplicada: 80 horas</li>
            </ul>
            <h1 class="h1_branco">2° Semestre</h1>
            <ul type="none">
                <li>Linguagem de Programação II: 80 horas</li>
                <li>Linguagem SQL: 80 horas</li>
                <li>Tecnologia Web: 80 horas</li>
                <li>Engenharia de Software: 80 horas</li>
                <li>Gestão de Projetos: 40 horas</li>
                <li>Ambiente de Desenvolvimento e Operação - DevOps: 80 horas</li>
                <li>Sociedade e Sustentabilidade - Optativa: 40 horas</li>
                <li>Linguagem Brasileira de Sinais - LIBRAS - Optativa: 40 horas</li>
            </ul>
            <h1 class="h1_branco">3° Semestre</h1>
            <ul type="none">
                <li>Desenvolvimento de Aplicações Distribuídas: 80 horas</li>
                <li>Estrutura de Dados: 80 horas</li>
                <li>Análise e Modelagem de Sistemas: 80 horas</li>
                <li>Modelagem de Processos de Negócio: 80 horas</li>
                <li>Interface Homem-Computador: 40 horas</li>
                <li>OPE1 - Oficina Projeto Empresa 1: 120 horas</li>
            </ul>
            <h1 class="h1_branco">4° Semestre</h1>
            <ul type="none">
                <li>Arquitetura e Projeto de Sistemas: 80 horas</li>
                <li>Desenvolvimento para Dispositivos Móveis: 80 horas</li>
                <li>Desenvolvimento para Internet das Coisas: 80 horas</li>
                <li>Qualidade de Software: 80 horas</li>
                <li>OPE2 - Oficina Projeto Empresa 2: 120 horas</li>
                <li>Legislação e Ética: 40 horas</li>
                <li>Atividades Complementares: 100 horas </li>
            </ul>
            <br/>
            <br/>
            <center><h1 class="h1_branco">BANCO DE DADOS</h1></center>
            <br/>
            <h1 class="h1_branco">1° Semestre</h1>
            <ul type="none">
                    <li>Comunicação e Expressão: 80 horas</li>
                    <li>Fundamentos de Banco de Dados: 80 horas</li>
                    <li>Introdução à Internet das Coisas - IoT: 80 horas</li>
                    <li>Linguagem de Programação I: 80 horas</li>
                    <li>Lógica de Programação: 80 horas</li>
                    <li>Matemática Aplicada: 80 horas</li>
            </ul>
            <h1 class="h1_branco">2° Semestre</h1>
            <ul type="none">
                    <li>Linguagem SQL: 80 horas</li>
                    <li>Análise Exploratória de Dados: 80 horas</li>
                    <li>Ambiente de Desenvolvimento e Operação - DevOps: 80 horas</li>
                    <li>Desenvolvimento de Sistemas: 80 horas</li>
                    <li>Engenharia de Software: 80 horas</li>
                    <li>Sociedade e Sustentabilidade - Optativa: 40 horas</li>
                    <li>Língua Brasileira de Sinais - LIBRAS - Optativa: 40 horas</li>
            </ul>
            <h1 class="h1_branco">3° Semestre</h1>
            <ul type="none">
                <li>Developing Database: 80 horas</li>
                <li>Estrutura de Dados: 80 horas</li>
                <li>Business Intelligence: 80 horas</li>
                <li>Data Analytics: 80 horas</li>
                <li>OPE1 - Oficina Projeto Empresa 1: 120 horas</li>
            </ul>
            <h1 class="h1_branco">4° Semestre</h1>
            <ul type="none">
                    <li>Administração de Banco de Dados: 80 horas</li>
                    <li>Qualidade de Governança de Dados: 80 horas</li>
                    <li>Segurança de Banco de Dados: 80 horas</li>
                    <li>Big Data: 80 horas</li>
                    <li>Computação Cognitiva: 80 horas</li>
                    <li>OPE2 - Oficina Projeto Empresa 2: 120 horas</li>
                    <li>Legislação e Ética: 40 horas</li>
            </ul>
            <center><h1 class="h1_branco">GESTÃO DA TECNOLOGIA DA INFORMAÇÃO</h1></center>
            <br/>
            <h1 class="h1_branco">1° Semestre</h1>
            <ul type="none">
                <li>Comunicação e Expressão: 80 horas (EAD)</li>
                <li>Banco de Dados: 80 horas</li>
                <li>Introdução à Internet das Coisas - IoT: 80 horas</li>
                <li>Linguagem de Programação: 80 horas</li>
                <li>Lógica da Programação: 80 horas</li>
                <li>Matemática Aplicada: 80 horas</li>
            </ul>
            <h1 class="h1_branco">2° Semestre</h1>
            <ul type="none">
                <li>Ambiente de Desenvolvimento e Operações - DevOps: 80 horas</li>
                <li>Análise Exploratória de Dados: 80 horas</li>
                <li>Sistemas Integrados de Gestão: 80 horas</li>
                <li>Engenharia de Software: 80 horas</li>
                <li>Gestão Estratégica de Pessoas: 80 horas</li>
                <li>Gestão de Projetos: 40 horas (EAD)</li>
                <li>Optativa Sociedade e Sustentabilidade: 40 horas (EAD)</li>
                <li>Língua Brasileira de Sinais - LIBRAS: 40 horas (EAD)</li>
            </ul>
            <h1 class="h1_branco">3° Semestre</h1>
            <ul type="none">
                    <li>Análise de Viabilidade de Projetos: 80 horas<li/>
                    <li>Modelagem de Processos de Negócio: 80 horas</li>
                    <li>Inteligência de Negócios: 80 horas</li>
                    <li>Qualidade de Software: 80 horas</li>
                    <li>Legislação e Ética: 40 horas (EAD)</li>
                    <li>Oficina Projeto Empresa 1 - OPE1: 120 horas (40 EAD)</li>
            </ul>
            <h1 class="h1_branco">4° Semestre</h1>
            <ul type="none">
                <li>Gestão Estratégica de TI: 80 horas</li>
                <li>Gestão de Infraestrutura de TI: 80 horas</li>
                <li>Gestão da Segurança de Informação: 80 horas (EAD)</li>
                <li>Gestão da Qualidade: 80 horas</li>
                <li>Governança de TI: 80 horas</li>
                <li>Oficina Projeto Empresa 2 - OPE2: 80 horas</li>
            </ul>
{% endblock%}