{% extends "base.html" %}

{% block base %} 
{% load static %}
            <div class="div_login">	       
		        <form method ="POST" align ='center' ><br/><br/>  
					{% csrf_token %}
					{{ form.non_field_erros }}
					<img src ="{% static 'images/logo.png' %}" width= "48%" id = "logo"/><br/><br/><br/>             
					{% for field in form %}
					<label class="text_branco" for="{{ field.label_tag }}"></label><br/>
					{{ field }}<br/><br/>
					{{ field.errors }}<br/><br/>
					{% endfor %}
			        <input type = "submit" name = "login" value = "LOGIN" placeholder = "" id ="login"/><br/><br/>
                    <a href = "{% url 'recover' %}" id ="forgot">Esqueceu a senha?</a>	 
		        </form>
            </div> 
{% endblock %}