{% extends "base.html" %}

{% block base %}
    <p class="border">Sistemas de Informação | Tecnologias Web | 1º 2018 | Turma A</p></br></br><br/>
    <form id="formulario" action="/recebe" method="POST" >
        <table class="text_branco">
            <tr>
                <th><p>Nome:</p></th>
                <th><p>RA:</p></th>
                <th><p>Situação</p></th>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao1" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao1" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao2" value="aprovado">Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao2" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao3" value="aprovado">Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao3" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao4" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao4" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao5" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao5" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao6" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao6" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao7" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao7" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao8" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao8" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao9" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao9" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao10" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao10" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao11" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao11" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao12" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao12" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao13" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao13" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao14" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao14" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao15" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao15" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao16" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao16" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao17" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao17" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao18" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao18" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao19" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao19" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao20" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao20" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao21" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao21" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao22" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao22" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao23" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao23" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao24" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao24" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao25" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao25" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao26" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao26" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao27" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao27" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao28" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao28" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao29" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao29" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao30" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao30" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao31" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao31" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao32" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao32" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao33" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao33" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao34" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao34" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao35" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao35" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao36" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao36" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao37" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao37" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao38" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao38" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao39" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao39" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao40" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao40" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao41" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao41" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao42" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao42" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao43" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao43" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao44" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao44" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao45" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao45" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao46" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao46" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao47" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao47" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao48" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao48" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao49" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao49" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao50" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao50" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao51" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao51" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao52" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao52" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao53" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao53" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao54" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao54" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao55" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao55" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao56" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao56" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao57" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao57" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao58" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao58" value="cancelado">Cancelado
                </td>
            </tr>
            <tr>
                <td>Otávio Sanches Bissoli Zaia</td>
                <td>1700997</td>
                <td><input type="radio" class="check" name="situacao59" value="aprovado" >Aprovado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="check" name="situacao59" value="cancelado">Cancelado
                </td>
            </tr>                                    
        </table></br></br>
                <div>
                    <input type="submit" value="Enviar" id="envForm">
                </div> 
    </form>
{% endblock %}