{% extends "base.html" %}

{% block base %}
		<h1 class="border">Criar nova disciplina</h1><br/><br/><br/>
		<form>
			<div class="row">
				<div class="col-25">
        			<label class="text_35px" for="curso">Nome da disciplina:</label>
      			</div>
      			<div class="col-50">
      				<input class="place_amarelo" type="text" name="Nome" placeholder="Disciplina"><br>
      			</div>
      		</div>

      		<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="coordenador">Coordenador: </label>
      			</div>
      			<div class="col-50">
      				<input class="place_amarelo" type="text" name="Nome" placeholder="Coordenador">
      			</div>
			</div>

			<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="Descrição">Descrição: </label>
      			</div>
      			<div class="col-50">
      				<textarea class="place_amarelo" style="height:200px" name="Descrição" placeholder="Descrição da disciplina"></textarea>
      			</div>
			</div></br></br>

			<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="tipo">Tipo de Disciplina: </label>
      			</div>
      			<div class="col-50">
      				<input type="radio" name="Periodo" value="manha"><strong>Administrativa</strong>&nbsp;&nbsp;
					<input type="radio" name="Periodo" value="tarde"><strong>Tecnologia</strong>&nbsp;&nbsp;
					<input type="radio" name="Periodo" value="noite"><strong>Comunicação</strong>
      			</div>
			</div></br>

			
			<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="Semestres">Carga Horária: </label>
      			</div>
      			<div class="col-50">
      				<select class="buttom">
  						<option value="4 Semestres">40 Horas</option>
  						<option value="6 Semestres">80 Horas</option>
  						<option value="8 Semestres">120 Horas</option>						
					</select>
      			</div>
			</div>
			<br>
			
			<div class="row">
				<div class="col-25">
        			<label for="Semestres"></label>
      			</div>
      			<div class="col-50">
      				<input type="submit" name="Criar novo Curso" value="Criar">
      			</div>
    		</div>			
		</form>
{% endblock %}