{% extends "base.html" %}

{% block base %}
		<h1 class="border">Criar novo curso</h1><br/><br/><br/>
		<form>
			<div class="row">
				<div class="col-25">
        			<label class="text_35px" for="curso">Nome do curso:</label>
      			</div>
      			<div class="col-50">
      				<input class="place_amarelo" type="text" name="Nome" placeholder="Curso"><br>
      			</div>
      		</div>

      		<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="coordenador">Coordenador: </label>
      			</div>
      			<div class="col-50">
      				<input class="place_amarelo" type="text" name="Nome" placeholder="Coordenador">
      			</div>
			</div>

			<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="Descrição">Descrição: </label>
      			</div>
      			<div class="col-50">
      				<textarea class="place_amarelo" style="height:200px" name="Descrição" placeholder="Descrição do curso"></textarea>
      			</div>
			</div></br></br>

			<div class="row">
				<div class="col-25">
					<label class="text_35px" for="periodo">Periodos: </label>
				</div>
				<div class="col-50">
					<input type="checkbox" name="Periodo" value="manha"><strong>Manhã</strong>&nbsp;&nbsp;
					<input type="checkbox" name="Periodo" value="tarde"><strong>Tarde</strong>&nbsp;&nbsp;
					<input type="checkbox" name="Periodo" value="noite"><strong>Noite</strong>
				</div>
			</div><br/><br/>

			<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="tipo">Tipo de curso: </label>
      			</div>
      			<div class="col-50">
      				<input type="radio" name="Periodo" value="manha"><strong>Técnico</strong>&nbsp;&nbsp;
					<input type="radio" name="Periodo" value="tarde"><strong>Tecnólogo</strong>&nbsp;&nbsp;
					<input type="radio" name="Periodo" value="noite"><strong>Bacharelado</strong>
      			</div>
			</div><br/><br/>

			
			<div class="row">
      			<div class="col-25">
        			<label class="text_35px" for="Semestres">Duração: </label>
      			</div>
      			<div class="col-50">
      				<select class="buttom">
  						<option value="4 Semestres">4 Semestres</option>
  						<option value="6 Semestres">6 Semestres</option>
						<option value="8 Semestres">8 Semestres</option>
						<option value="8 Semestres">10 Semestres</option>						
					</select>
      			</div>
			</div>
			<br>
			
			<div class="row">
				<div class="col-25">
        			<label for="Semestres"></label>
      			</div>
      			<div class="col-50">
      				<input type="submit" name="Criar novo Curso" value="Criar">
      			</div>
    		</div>			
		</form>
{% endblock%}