body{
    background-color: #020d13;
}

.text_branco {
    font-family: arial;
    font-size: 30px;
    color: #ADD8E6;
}

a:link{
    color:#1E90FF;
    font-family: arial;
}

a:visited{
    color:#87CEFA;
    font-family: arial;
}

a:hover{
    color:#6495ED;
    font-family: arial;
}

a:active{
    color:#0000FF;
    font-family: arial;
}

.text_link{
    font-family: arial;
    font-size:20px;
}

.div{
    background-color: #B0C4DE;
    height: 90px;
}

.border{
    font-family: arial;
    font-size: 40px;
    color: #000080;
    background: #B0C4DE;
    padding: 10px;
    width: 400px;
    height: 45px;
    border-radius: 15px 15px 15px 15px;
    
}

 .text_azul {
    font-family: arial;
    font-size: 40px;
    color: #000080;
}
.div-descricao{
    font-family: arial;
    font-size: 20px;
    text-align: left;
}

.div2{
    text-align: center; 
}

.div3{
    text-align:center;
    background-color: #B0C4DE;
    height: 40px;
}
.box-2 {
    width: 48.5%;
    margin-right: 3%;
}

.box {
    width: auto;
    float: left;
}
.section_title {
    text-transform: uppercase;
    color: #116fff;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 6px;
}

.text-center {
    text-align: center;
}
