body{
	       background-image: url("31.jpg");
           background-size:cover;
           margin: 0;   	   
	   }
       input {
	       width: 70%
		   outline:none;
		   padding: 10px 11px;
		   border: 1px #aaa solid;
		   font-size: 15px;
		   background: #fff9a2;  
           	   	   
	   }
       #login{
		   background: #19b1ca;
           color: #fff;
           border: none;
           width: 8%;		   
	   }
	    a{
	      color:#fff;
		  font-family: arial;
		  font-size: 13px;
		}
		#x{
	      color:#fff;
		  font-family: arial;
		  font-size: 13px; 		
		}
	   
	   